<form class="form-horizontal manage-form" role="form" method="post" action="../testData/success">
    <div class="manage-form-item">
        <label for="orderName" class="control-label manage-form-label">公司名称：</label>
        <div class="manage-form-input">
            <input type="text" id="orderName" class="form-control" placeholder="请输入公司名称" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="orderPerson" class="control-label manage-form-label">联系人：</label>
        <div class="manage-form-input">
            <input type="text" id="orderPerson" class="form-control" placeholder="请输入联系人" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="cpPersonTel" class="control-label manage-form-label">联系人手机：</label>
        <div class="manage-form-input">
            <input type="text" id="cpPersonTel" class="form-control" placeholder="请输入联系人手机" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="orderExpoName" class="control-label manage-form-label">展会名称：</label>
        <div class="manage-form-input">
            <input type="text" id="orderExpoName" class="form-control" placeholder="请输入展会名称" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="orderPlace" class="control-label manage-form-label">展馆名称：</label>
        <div class="manage-form-input">
            <input type="text" id="orderPlace" class="form-control" placeholder="请输入展馆名称" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="startTime" class="control-label manage-form-label">开展时间：</label>
        <div class="manage-form-select" id="area">
            <input class="form-control province" name="province" id="startTime" />
            <input class="form-control city" name="city" id="endTime" />
        </div>
    </div>
    <div class="manage-form-item">
        <label for="orderExpoNum" class="control-label manage-form-label">展位号：</label>
        <div class="manage-form-input">
            <input type="text" id="orderExpoNum" class="form-control" placeholder="请输入展位号" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="orderArea" class="control-label manage-form-label">场地面积：</label>
        <div class="manage-form-input">
            <input type="text" id="orderArea" class="form-control" placeholder="请输入场地面积（平米㎡）" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="orderBudget" class="control-label manage-form-label">资金预算：</label>
        <div class="manage-form-input">
            <input type="text" id="orderBudget" class="form-control" placeholder="请输入资金预算" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label class="control-label manage-form-label"></label>
        <button type="submit" class="btn btn-warning" name="btn1" value="1" id="orderDialogSubmit1">有图报价</button>
        <button type="submit" class="btn btn-success" name="btn2" value="0" id="orderDialogSubmit2">需要设计</button>
    </div>
</form>