<div class="panel offer-detail-panel">
    <div class="panel-heading">
        <h4 class="panel-title">xxxx工厂名称名称名称 <span class="label label-danger">二次报价中</span></h4>
    </div>
    <div class="panel-body">
        <ul class="offer-group">
            <li>报价项目 <span class="pull-right">￥价格（元）</span></li>
            <li>项目111 <span class="pull-right">1230.00</span></li>
            <li>项目222 <span class="pull-right">34530.00</span></li>
            <li>项目111 <span class="pull-right">1230.00</span></li>
            <li>项目222 <span class="pull-right">34530.00</span></li>
            <li>项目111 <span class="pull-right">1230.00</span></li>
            <li>项目222 <span class="pull-right">34530.00</span></li>
            <li>项目111 <span class="pull-right">1230.00</span></li>
            <li>项目222 <span class="pull-right">34530.00</span></li>
            <li>合计： <span class="pull-right">34530.00</span></li>
        </ul>
        <div class="alert alert-danger">等待厂家再次报价</div>
        <div class="alert alert-success">已定稿</div>
        <div class="alert alert-warning">已选定其他厂家</div>

        <div class="offer-panel-footer">
            <button class="btn btn-warning" id="offerPanelClose">关闭</button>
            <a href="../testData/success.json" class="btn btn-success pull-right" id="offerPanelConfirm">确认定稿</a>
            <a href="../testData/error.json" class="btn btn-success pull-right" id="offerPanelTwice">二次报价</a>

        </div>
    </div>
</div>