<div class="order-offer">
    <div class="order-offer-pic pull-left">
        <p data-src="../img/place.jpg"><img src="../img/place.jpg" /></p>
        <p data-src="../img/place.jpg"><img src="../img/place.jpg" /></p>
        <p data-src="../img/place.jpg"><img src="../img/place.jpg" /></p>
        <p data-src="../img/place.jpg"><img src="../img/place.jpg" /></p>
        <p data-src="../img/place.jpg"><img src="../img/place.jpg" /></p>
        <p data-src="../img/place.jpg"><img src="../img/place.jpg" /></p>
        <p data-src="../img/place.jpg"><img src="../img/place.jpg" /></p>
    </div>
    <div class="order-offer-slide pull-left">
        <div class="well">
            <p>设计师：刘查查</p>
            <p>案发时发生的烦恼少烦恼是你发你的是你发你的那份对奶粉都是你烦死你地方</p>
        </div>
        <ul class="list-group order-offer-list">
            <li class="list-group-item active"><span class="pull-right">价格（元）</span>工厂名称</li>
            <li class="list-group-item"><a href="/1"><span class="pull-right">￥234023.00 <i class="glyphicon glyphicon-chevron-right"></i></span>xxxx工厂名称名称名称</a></li>
            <li class="list-group-item"><a href="/2"><span class="pull-right">￥234023.00 <i class="glyphicon glyphicon-chevron-right"></i></span>xxxx工厂名称名称名称</a></li>
            <li class="list-group-item"><a href="/3"><span class="pull-right">￥234023.00 <i class="glyphicon glyphicon-chevron-right"></i></span>xxxx工厂名称名称名称</a></li>
            <li class="list-group-item"><a href="/4"><span class="pull-right">￥234023.00 <i class="glyphicon glyphicon-chevron-right"></i></span>xxxx工厂名称名称名称</a></li>
            <li class="list-group-item"><a href="/5"><span class="pull-right">￥234023.00 <i class="glyphicon glyphicon-chevron-right"></i></span>xxxx工厂名称名称名称</a></li>
        </ul>
    </div>
    <div class="order-offer-detail pull-left">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">xxxx工厂名称名称名称</h4>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
<script src="../js/gallery.min.js"></script>
<script>
    $(function () {
        $('.order-offer-pic').lightGallery();
    });
</script>