<div class="main-content-item manage-info">
    <div class="main-img">
        <span class="glyphicon glyphicon-flag"></span>
    </div>
    <h4><a href="#">工厂名称展商名称姓名</a></h4>
    <p><span class="label label-info">认证</span></p>
    <p>地址：工厂地址工厂地址工厂地址工厂地址</p>
    <p>
        <small>注册时间：2016.03.22</small>
    </p>
</div>
<form class="form-horizontal manage-form" role="form" method="post" action="../testData/success">
    <div class="manage-form-item">
        <label for="cpName" class="control-label manage-form-label">公司名称：</label>
        <div class="manage-form-input">
            <input type="text" id="cpName" class="form-control" placeholder="请输入公司名称" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="province" class="control-label manage-form-label">所属地区：</label>
        <div class="manage-form-select" id="area" data-custom="area" data-areaurl="../testData/province.json">
            <select class="form-control province" name="province" id="province">
                <option value="1">--</option>
            </select>
            <select class="form-control city" name="city" id="city">
                <option value="1">--</option>
            </select>
        </div>
    </div>
    <div class="manage-form-item">
        <label for="cpPerson" class="control-label manage-form-label">公司负责人：</label>
        <div class="manage-form-input">
            <input type="text" id="cpPerson" class="form-control" placeholder="请输入公司负责人" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="cpPersonTel" class="control-label manage-form-label">负责人手机：</label>
        <div class="manage-form-input">
            <input type="text" id="cpPersonTel" class="form-control" placeholder="请输入负责人手机" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="cpTel" class="control-label manage-form-label">公司电话：</label>
        <div class="manage-form-input">
            <input type="text" id="cpTel" class="form-control" placeholder="请输入公司电话" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="cpMail" class="control-label manage-form-label">公司邮箱：</label>
        <div class="manage-form-input">
            <input type="text" id="cpMail" class="form-control" placeholder="请输入公司邮箱" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="cpFax" class="control-label manage-form-label">公司传真：</label>
        <div class="manage-form-input">
            <input type="text" id="cpFax" class="form-control" placeholder="请输入公司传真" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="cpQQ" class="control-label manage-form-label">QQ：</label>
        <div class="manage-form-input">
            <input type="text" id="cpQQ" class="form-control" placeholder="请输入常用QQ" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="cpWeb" class="control-label manage-form-label">公司网站：</label>
        <div class="manage-form-input">
            <input type="text" id="cpWeb" class="form-control" placeholder="请输入公司网站" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="cpAds" class="control-label manage-form-label">公司地址：</label>
        <div class="manage-form-input">
            <input type="text" id="cpAds" class="form-control" placeholder="请输入公司地址" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="cpInfo" class="control-label manage-form-label">公司介绍：</label>
        <div class="manage-form-textarea">
            <textarea id="cpInfo" class="form-control" placeholder="请输入公司简介" rows="5"></textarea>
        </div>
        <p class="help-block textarea-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label class="control-label manage-form-label"></label>
        <button type="button" class="btn btn-warning" id="offerPanelClose">关闭</button>
        <button type="submit" class="btn btn-success" id="offerPanelSubmit">确定提交</button>
    </div>
</form>
