<div class="panel-heading">
    <h3 class="panel-title">等待开工
        <span class="badge">签单工厂：工厂名称名称sd水电费水电费多少 ￥20163.00</span>
    </h3>
</div>
<div class="panel-body">
    <!--流程图-->
    <div class="flow-progress">
        <ul data-custom="width" class="order-panel-des">
            <li class="flow-progress-item active">
                <a href="#flow1">
                    <span class="badge">等待开工</span>
                </a>
            </li>
            <li class="flow-progress-item">
                <a href="#flow1">
                    <span class="badge">开工</span>
                </a>
            </li>
            <li class="flow-progress-item">
                <a href="#flow2">
                    <span class="badge">展台制作</span>
                </a>
            </li>
            <li class="flow-progress-item">
                <a href="#flow3">
                    <span class="badge">框架搭建</span>
                </a>
            </li>
            <li class="flow-progress-item">
                <a href="#">
                    <span class="badge">流程是的</span>
                </a>
            </li>
            <li class="flow-progress-item">
                <a href="#">
                    <span class="badge">流程1223</span>
                </a>
            </li>
            <li class="flow-progress-item">
                <a href="#">
                    <span class="badge">流程456</span>
                </a>
            </li>
            <li class="flow-progress-item">
                <a href="#">
                    <span class="badge">完工</span>
                </a>
            </li>
        </ul>
    </div>

    <!--主流程-->
    <div class="manage-order-flow">
        <ul class="order-flow-list">
            <!--流程-->
            <li id="flow0" class="order-flow-list-time">
                开工：2016.03.23
            </li>
            <li class="active">
                <div class="order-flow-list-item">
                    xxx工厂于2016.03.23日开工搭建展台
                </div>
            </li>
            <li id="flow1" class="order-flow-list-time">
                展台制作：2016.03.23
            </li>
            <li>
                <div class="order-flow-list-item">
                    <div class="media">
                        <a class="pull-left" href="fragment/flowItems.html" data-custom="slidePanel" data-mywidth="600px" title="工厂上传asadfsa阿士大夫撒旦">
                            <img class="media-object" src="../img/place.jpg"/>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">标题标题标题标题</h4>
                            <small>2016.03.23</small>
                            <p>信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息</p>
                        </div>
                    </div>

                </div>
            </li>
            <li>
                <div class="order-flow-list-item">
                    <div class="media">
                        <img class="media-object pull-left" src="../img/mainbg.png"/>
                        <div class="media-body">
                            <h4 class="media-heading">暂未上传</h4>
                        </div>
                    </div>

                </div>
            </li>
            <li id="flow2" class="order-flow-list-time">
                展台搭建：2016.03.25
            </li>
            <li>
                <div class="order-flow-list-item">
                    <div class="media">
                        <a class="pull-left" href="fragment/flowItems.html" data-custom="slidePanel" data-mywidth="600px" title="工厂上传asadfsa阿士大夫撒旦">
                            <img class="media-object" src="../img/place.jpg"/>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">标题标题标题标题</h4>
                            <small>2016.03.23</small>
                            <p>信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息</p>
                        </div>
                    </div>

                </div>
            </li>
            <li id="flow3" class="order-flow-list-time">
                流程333：2016.03.28
            </li>
            <li class="active">
                <div class="order-flow-list-item">
                    <div class="media">
                        <a class="pull-left" href="/123" data-custom="slidePanel" data-mywidth="600px" title="工厂上传asadfsa阿士大夫撒旦">
                            <img class="media-object" src="../img/place.jpg"/>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">标题标题标题标题</h4>
                            <small>2016.03.23</small>
                            <p>信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息</p>
                        </div>
                    </div>

                </div>
            </li>
            <li class="active">
                <div class="order-flow-list-item">
                    <div class="media">
                        <a class="pull-left" href="/123" data-custom="slidePanel" data-mywidth="600px" title="工厂上传asadfsa阿士大夫撒旦">
                            <img src="../img/mainbg.png"/>
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">暂无...</h4>
                            <!--<small>2016.03.23</small>-->
                            <p><a href="#" class="btn btn-info">添加流程</a></p>
                        </div>
                    </div>

                </div>
            </li>
            <li class="active">
                <div class="order-flow-list-item">
                    <div class="media">
                        <div class="media-body">
                            <p><a href="#" class="btn btn-info">完工</a></p>
                        </div>
                    </div>

                </div>
            </li>
            <!--流程 END-->
        </ul>
    </div>

</div>