<div class="panel manage-order-panel2 now">
    <div class="panel-heading">
        <h3 class="panel-title">
            上传效果图
            <span class="badge">支持JPG、PNG,每稿不超50张图片</span>
        </h3>
    </div>
    <div class="panel-body row">
        <div class="myUploader UploadDesignerWork" data-custom="uploader" data-uploadurl="../testData/photoSuccess"
             data-uploadlimit="50" data-autoupload="true">
            <!--用来存放item-->
            <div class="designerWork-list"></div>
            <input type="hidden" name="tax3" class="uploader-input">
            <div class="designerPicker">上传效果图</div>
        </div>
    </div>
</div>
<div class="panel manage-order-panel2 now">
    <div class="panel-heading">
        <h3 class="panel-title">
            上传报馆图
            <span class="badge">支持JPG、PNG、GIF格式</span>
        </h3>
    </div>
    <div class="panel-body row">
        <div class="myUploader UploadDesignerWork" data-custom="uploader" data-uploadurl="../testData/photoSuccess"
             data-uploadlimit="50" data-autoupload="true">
            <!--用来存放item-->
            <div class="designerWork-list"></div>
            <input type="hidden" name="tax3" class="uploader-input">
            <div class="designerPicker">上传报馆图</div>
        </div>
    </div>
</div>
<div class="panel manage-order-panel2 now">
    <div class="panel-heading">
        <h3 class="panel-title">
            上传施工图
            <span class="badge">支持JPG、PNG、GIF格式</span>
        </h3>
    </div>
    <div class="panel-body row">
        <div class="myUploader UploadDesignerWork" data-custom="uploader" data-uploadurl="../testData/photoSuccess"
             data-uploadlimit="50" data-autoupload="true">
            <!--用来存放item-->
            <div class="designerWork-list"></div>
            <input type="hidden" name="tax3" class="uploader-input">
            <div class="designerPicker">上传施工图</div>
        </div>
    </div>
</div>
<div class="panel manage-order-panel2 now">
    <div class="panel-heading">
        <h3 class="panel-title">
            上传3D模型
            <span class="badge">支持rar,zip,tar.gz格式</span>
        </h3>
    </div>
    <div class="panel-body row">
        <div class="myUploader UploadDesignerWork" data-custom="uploader" data-uploadurl="../testData/photoSuccess"
             data-uploadlimit="50" data-acceptfile="true" data-autoupload="true">
            <!--用来存放item-->
            <div class="designerWork-list"></div>
            <input type="hidden" name="tax3" class="uploader-input">
            <div class="designerPicker">上传3D模型</div>
        </div>
    </div>
</div>