<!--问询表 START-->

<form class="office-form" role="form" method="post" action="../testData/success.json">
    <fieldset class="office-fieldSet" disabled>
        <div class="office-form-title">
            <h4 class="control-label">
                公司标色：
                <small class="office-help-block">输入应刷色标</small>
            </h4>
        </div>
        <div class="office-form-item">
            <div class="row">
                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon">C</span>
                        <input type="text" class="form-control" placeholder="C">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon">M</span>
                        <input type="text" class="form-control" placeholder="M">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon">Y</span>
                        <input type="text" class="form-control" placeholder="Y">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon">K</span>
                        <input type="text" class="form-control" placeholder="K">
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
    <fieldset class="office-fieldSet">
        <div class="office-form-title">
            <h4 class="control-label">
                公司信息：
                <small class="office-help-block">输入相关公司信息</small>
            </h4>
        </div>
        <div class="office-form-item">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">口号/理念：</span>
                        <input type="text" class="form-control" placeholder="公司口号理念">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">网址：</span>
                        <input type="text" class="form-control" placeholder="公司网址">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">其他：</span>
                        <input type="text" class="form-control" placeholder="其他信息">
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
    <fieldset class="office-fieldSet">
        <div class="office-form-title">
            <h4 class="control-label">
                展台风格：
                <small class="office-help-block">输入展台风格信息</small>
            </h4>
        </div>
        <div class="office-form-item">
            <label class="checkbox-inline">
                <input name="expo[fengge][1]" type="checkbox" id="form1exStyle1"
                       value="简洁">简洁
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[fengge][2]" id="form1exStyle2"
                       value="整体大气">整体大气
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[fengge][3]" id="form1exStyle3"
                       value="豪华">豪华
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[fengge][4]" id="form1exStyle4"
                       value="科技感">科技感
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[fengge][5]" id="form1exStyle5"
                       value="经济适用">经济适用
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[fengge][6]" id="form1exStyle6"
                       value="活泼生动">活泼生动
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[fengge][7]" id="form1exStyle7"
                       value="古典">古典
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[fengge][11]" id="form1exStyle11"
                       value="其他">其他
            </label>

        </div>
        <div class="office-form-item">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" name="expo[fengge][11]"
                                                                       value="艺术感">艺术感
                                                            </label>
                                                        </span>
                        <input type="text" class="form-control"
                               placeholder="请详细说明艺术设计需求">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" name="expo[fengge][11]"
                                                                       value="中国风">中国风
                                                            </label>
                                                        </span>
                        <input type="text" class="form-control" placeholder="请详细说明风格元素">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" name="expo[fengge][11]"
                                                                       value="国际风格">国际风格
                                                            </label>
                                                        </span>
                        <input type="text" class="form-control" placeholder="请详细说明风格元素">
                    </div>
                </div>

            </div>

        </div>
    </fieldset>
    <fieldset class="office-fieldSet">
        <div class="office-form-title">
            <h4 class="control-label">
                场地要求：
                <small class="office-help-block">输入场地要求信息</small>
            </h4>
        </div>
        <div class="office-form-item">
            <label class="radio-inline">
                <input type="radio" name="expo[fengge][7]" value="单层搭建">单层搭建
            </label>
            <label class="radio-inline">
                <input type="radio" name="expo[fengge][7]" value="双层搭建">双层搭建
            </label>
            <label class="radio-inline">
                <input type="radio" name="123123" value="一面开口">一面开口
            </label>
            <label class="radio-inline">
                <input type="radio" name="123123" value="二面开口">二面开口
            </label>
            <label class="radio-inline">
                <input type="radio" name="123123" value="三面开口">三面开口
            </label>
            <label class="radio-inline">
                <input type="radio" name="123123" value="四面开口">四面开口
            </label>

        </div>
        <div class="office-form-item">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                                                <span class="input-group-addon">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="expo[fengge][11]"
                                                               value="展示区">展示区
                                                    </label>
                                                </span>
                        <input type="text" class="form-control" placeholder="请详细说明风格元素">
                        <span class="input-group-addon">区</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="office-fieldSet">
        <div class="office-form-title">
            <h4 class="control-label">
                展台颜色要求：
                <small class="office-help-block">输入展台颜色要求信息</small>
            </h4>
        </div>
        <div class="office-form-item">
            <div class="row">
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="请详细说明对展台的颜色要求">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="office-fieldSet">
        <div class="office-form-title">
            <h4 class="control-label">
                展品：
                <small class="office-help-block">输入展品信息</small>
            </h4>
        </div>
        <div class="office-form-item">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                                                <span class="input-group-addon">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="expo[fengge][11]"
                                                               value="所属行业">所属行业
                                                    </label>
                                                </span>
                        <input type="text" class="form-control" placeholder="所属行业">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                                                <span class="input-group-addon">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="expo[fengge][11]"
                                                               value="展品数量及尺寸">展品数量及尺寸
                                                    </label>
                                                </span>
                        <input type="text" class="form-control" placeholder="展品数量及尺寸">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="office-fieldSet">
        <div class="office-form-title">
            <h4 class="control-label">
                功能需求：
                <small class="office-help-block">输入功能需求信息</small>
            </h4>
        </div>
        <div class="office-form-item">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" name="expo[fengge][11]"
                                                                   value="接待台">接待台
                                                        </label>
                                                    </span>
                        <input type="text" class="form-control" placeholder="接待台">
                        <span class="input-group-addon">个</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" name="expo[fengge][11]"
                                                                   value="储藏区">储藏区
                                                        </label>
                                                    </span>
                        <input type="text" class="form-control" placeholder="储藏区">
                        <span class="input-group-addon">平米</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" name="expo[fengge][11]"
                                                                   value="形象区">形象区
                                                        </label>
                                                    </span>
                        <input type="text" class="form-control" placeholder="形象区">
                        <span class="input-group-addon">平米</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="office-form-item">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" name="expo[fengge][11]"
                                                                       value="演示区">演示区
                                                            </label>
                                                        </span>
                                                        <span class="form-control">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" name="expo[fengge][11]"
                                                                   value="集中">集中
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" name="expo[fengge][11]"
                                                                   value="分区集中">分区集中
                                                        </label>
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" name="expo[fengge][11]"
                                                                   value="单个分散">单个分散
                                                        </label>
                                                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" name="expo[fengge][11]"
                                                                       value="展板">展板
                                                            </label>
                                                        </span>
                        <input type="text" class="form-control" placeholder="">
                        <span class="input-group-addon">块（尺寸）</span>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="office-fieldSet">
        <div class="office-form-title">
            <h4 class="control-label">
                AV设备：
                <small class="office-help-block">输入AV设备信息</small>
            </h4>
        </div>
        <div class="office-form-item">
            <div class="row">
                <div class="col-sm-7">
                    <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" name="expo[fengge][11]"
                                                                   value="投影尺寸">投影尺寸
                                                        </label>
                                                    </span>
                        <input type="text" class="form-control" placeholder="">
                                                        <span class="input-group-addon">
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" name="expo[fengge][11]"
                                                                       value="前投">前投
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" name="expo[fengge][11]"
                                                                       value="背投">背投
                                                            </label>
                                                        </span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" name="expo[fengge][11]"
                                                                   value="等离子">等离子
                                                        </label>
                                                    </span>
                        <input type="text" class="form-control" placeholder="">
                        <span class="input-group-addon">台</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="office-form-item">
            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="expo[fengge][11]"
                                                               value="电视墙">电视墙
                                                    </label>
                                                </span>
                <input type="text" class="form-control" placeholder="">
                                                <span class="input-group-addon">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="expo[fengge][11]"
                                                           value="2*2">2*2
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="expo[fengge][11]"
                                                           value="3*3">3*3
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="expo[fengge][11]"
                                                           value="4*4">4*4
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="expo[fengge][11]"
                                                           value="5*5">5*5
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="expo[fengge][11]"
                                                           value="其他">其他
                                                </label>
                                                </span>
            </div>
        </div>
        <div class="office-form-item">
            <div class="row">
                <div class="col-sm-6">
                    <div class="input-group">
                                                <span class="input-group-addon">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="expo[fengge][11]"
                                                               value="LED尺寸">LED尺寸
                                                    </label>
                                                </span>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                                                <span class="input-group-addon">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" name="expo[fengge][11]"
                                                               value="其他">其他
                                                    </label>
                                                </span>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="office-fieldSet">
        <div class="office-form-title">
            <h4 class="control-label">
                搭建主要材料：
                <small class="office-help-block">输入搭建主要材料信息</small>
            </h4>
        </div>
        <div class="office-form-item">
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[cailiao][1]" id="form1material1" value="木结构">木结构
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[cailiao][2]" id="form1material2" value="金属结构">金属结构
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[cailiao][3]" id="form1material3" value="铁木结构">铁木结构
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[cailiao][4]" id="form1material4" value="铝料结构">铝料结构
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[cailiao][5]" id="form1material5" value="纸制">纸制
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[cailiao][6]" id="form1material6" value="铁+玻璃">铁+玻璃
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[cailiao][7]" id="form1material7" value="阳光板">阳光板
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[cailiao][8]" id="form1material8" value="有机片">有机片
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[cailiao][9]" id="form1material9" value="布艺">布艺
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[cailiao][10]" id="form1material10" value="其他">其他
            </label>

        </div>

    </fieldset>
    <fieldset class="office-fieldSet">
        <div class="office-form-title">
            <h4 class="control-label">
                设计参考费用：
                <small class="office-help-block">输入设计参考费用信息</small>
            </h4>
        </div>
        <div class="office-form-item">
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[cailiao][1]" value="1000元/平米以下">1000元/平米以下
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[cailiao][2]" value="1000元/平米">1000元/平米
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="expo[cailiao][3]" value="1200元/平米以上">1200元/平米以上
            </label>
        </div>

    </fieldset>
    <!--btn 按钮-->
    <div class="panel manage-order-panelBtn">
        <button type="submit" class="btn btn-success pull-right" id="offerPanelSubmit">确认提交</button>
        <div class="panel-order-info">
            一些说明说明说明说明说明说明说明说明说明说明说明说明
        </div>
    </div>

</form>

<!--问询表 END-->