
<div class="myUploader UploadDesignerWork" data-custom="uploader" data-uploadurl="../testData/photoSuccess" data-uploadlimit="50" data-autoupload="true" data-acceptfile="true">
    <!--用来存放item-->
    <div class="designerWork-list">
        <div class="file-item thumbnail">
            <img src="../img/file.png">
            <div class="info">1459488236.png</div>
            <a href="../testData/success.json" class="remove-this">×</a>
        </div>
        <div class="file-item thumbnail">
            <img src="../img/file.png">
            <div class="info">1459488236.png</div>
            <a href="#" class="remove-this">×</a>
        </div>
        <div class="file-item thumbnail">
            <img src="../img/file.png">
            <div class="info">1459488236.png</div>
            <a href="../testData/success.json" class="remove-this">×</a>
        </div>
        <div class="file-item thumbnail">
            <img src="../img/file.png">
            <div class="info">1459488236.png</div>
            <a href="#" class="remove-this">×</a>
        </div>
        <div class="file-item thumbnail">
            <img src="../img/file.png">
            <div class="info">1459488236.png</div>
            <a href="../testData/success.json" class="remove-this">×</a>
        </div>
        <div class="file-item thumbnail">
            <img src="../img/file.png">
            <div class="info">1459488236.png</div>
            <a href="#" class="remove-this">×</a>
        </div>
    </div>
    <input type="hidden" name="tax3" class="uploader-input">
    <div class="designerPicker">添加新文件</div>
</div>
<div class="clearfix"></div>
<a href="#" class="btn btn-success btn-lg btn-block">打包下载</a>
