<div class="manage-info">
    <ul class="manage-people">
        <li class="manage-pp-list">
            <span class="col-sm-2">账户</span>
            <span class="col-sm-1">姓名</span>
            <span class="col-sm-2">手机</span>
            <span class="col-sm-2">注册时间</span>
            <span class="col-sm-2">最后登录</span>
            <span class="col-sm-1">状态</span>
            <span class="col-sm-2">操作</span>
        </li>
        <li>
            <span class="col-sm-2">阿萨德12313</span>
            <span class="col-sm-1">阿斯顿</span>
            <span class="col-sm-2">18612037193</span>
            <span class="col-sm-2">2016.03.22</span>
            <span class="col-sm-2">2016.01.11</span>
            <span class="col-sm-1">正常</span>
            <span class="col-sm-2">
                <a data-custom="change" href="#">修改</a>
                <a data-custom="confirm" title="确认信息" data-confirm-content="确定删除？" data-mywidth="400px" href="../testData/success">删除</a>
            </span>
        </li>
        <li>
            <span class="col-sm-2">阿萨德12313</span>
            <span class="col-sm-1">阿斯顿</span>
            <span class="col-sm-2">18612037193</span>
            <span class="col-sm-2">2016.03.22</span>
            <span class="col-sm-2">2016.01.11</span>
            <span class="col-sm-1">正常</span>
            <span class="col-sm-2">
                <a data-custom="change" href="#">修改</a>
                <a data-custom="confirm" title="确认信息" data-confirm-content="确定删除？" data-mywidth="400px" href="../testData/success">删除</a>
            </span>
        </li>
        <li>
            <span class="col-sm-2">阿萨德12313</span>
            <span class="col-sm-1">阿斯顿</span>
            <span class="col-sm-2">18612037193</span>
            <span class="col-sm-2">2016.03.22</span>
            <span class="col-sm-2">2016.01.11</span>
            <span class="col-sm-1">正常</span>
            <span class="col-sm-2">
                <a data-custom="change" href="../testData/success">修改</a>
                <a data-custom="confirm" title="确认信息" data-confirm-content="确定删除？" data-mywidth="400px" href="../testData/error.json">删除</a>
            </span>
        </li>
    </ul>
</div>

<form class="form-horizontal manage-form" role="form" method="post" action="../testData/success">
    <div class="manage-form-item">
        <label for="ppUser" class="control-label manage-form-label">账户名称：</label>
        <div class="manage-form-input">
            <input type="text" id="ppUser" name="ppUser" class="form-control" placeholder="请输入账户名称" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="ppName" class="control-label manage-form-label">真实姓名：</label>
        <div class="manage-form-input">
            <input type="text" id="ppName" name="ppName" class="form-control" placeholder="请输入用户真实姓名" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="ppTel" class="control-label manage-form-label">手机：</label>
        <div class="manage-form-input">
            <input type="text" id="ppTel" name="ppTel" class="form-control" placeholder="请输入联系人手机" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label for="ppPwd" class="control-label manage-form-label">账户密码：</label>
        <div class="manage-form-input">
            <input type="password" id="ppPwd" name="ppPwd" class="form-control" placeholder="请输入账户密码" value="">
        </div>
        <p class="help-block input-help-block"></p>
    </div>
    <div class="manage-form-item">
        <label class="control-label manage-form-label"></label>
        <button type="button" class="btn btn-warning" id="offerPanelClose">关闭</button>
        <button type="submit" class="btn btn-success" id="offerPanelSubmit">确定提交</button>
    </div>
</form>
